{{- if .Site.Params.waline.enable -}}

<div id="waline"></div>

<link rel="stylesheet"
href="https://unpkg.com/@waline/client@v3/dist/waline.css">


<script type="module">

import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";


init({

    el:"#waline",

    serverURL:"{{ .Site.Params.waline.serverURL }}",

    pageview:true,

    // 自动适配 PaperMod 暗色模式
    dark:"html[data-theme='dark']",

    // 自定义提示文字
    locale:{
        placeholder:"欢迎留言交流～"
    }

});

</script>


{{- end -}}