{{ define "main" }}

<div class="hero">


<div class="hero-bg"></div>


<img 
class="avatar"
src="/images/avatar.jpg"
>


<img 
class="hero-img"
src="/images/hero.jpg"
>


<div class="hero-text">

<h1>
Jimlynn的数字花园
</h1>


<p>
记录AI探索、技术学习与生活感悟
</p>


<a href="/posts/" class="hero-btn">
开始阅读
</a>


</div>


</div>



<section class="posts">


<h2>
最新文章
</h2>


<div class="post-grid">


{{ range first 6 site.RegularPages }}


<a href="{{ .RelPermalink }}" class="post-card">


<div class="card">


<h3>
{{ .Title }}
</h3>


<p>
{{ .Summary }}
</p>


</div>


</a>


{{ end }}


</div>


</section>


{{ end }}